*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    padding: 50px;
}

.container .panel{
    border: 2px solid lightblue;
    border-radius: 50px;
    margin: 5px;
    flex: 5;
    position: relative;
  
}

.container .panel img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.container .active{
    flex: 10; 
    
}

.container .panel h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    opacity: 0;
}